.jumbotron{
  padding-top: 6rem;
  background-color: #abbdf8;
  color: #000;
}



#projects{
  background-color: #abbdf8;
}

footer{
  background-color: #003bff;
  color: #fff;
}

section{
 padding-top: 5rem;
}
